* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	overflow: auto;
}
::-webkit-input-placeholder {/*Chrome/Safari*/
    color:#999;
    }
    ::-moz-placeholder {/*Firefox*/
    color:#999;
    }
    　::-ms-input-placeholder {/*IE*/
       color:#999;
    }

.box {
	width: calc(100% - 40px);
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	/*border: 4px solid #999;*/
}

.box .top-nav {
	width: calc(100% - 30px);
	padding-left: 30px;
	min-height: 40px;
	display: flex;
	align-items: center;
	background: #e0e6ef;
	border-bottom: 1px solid #E4E4E4;
}
.box .top-nav .nav {
	display: flex;
	align-items: center;
}
.box .top-nav .nav label {
	font-size: 16px;
	color: #333333;
}
.box .top-nav .nav label a {
	font-size: 16px;
	color: #333333;
	text-decoration: none;
}

.box .content {
	width: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	
}
.box .content .information {
	border: 1px solid #E4E4E4;
	border-radius: 4px;
	background: #EEEEEE;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
}
.box .content .information .title {
	 width: calc(100% - 10px);
	 padding-left: 10px;
	 font-size: 16px;
	 color: #666666;
	 min-height: 40px;
	 display: flex;
	 align-items: center;
	 margin: 0;
}
.box .content .information .essential {
	width: calc(100% - 20px);
	padding: 0 10px;
	border: 1px solid #E4E4E4;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box .content .information .essential .left {
	max-width: 850px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/*border-right: 1px solid #666;*/
	margin: 20px 0 10px;
}
.box .content .information span {
	margin-right: 90px;
	display: flex;
	align-items: center;
	justify-content: flex-start; 
	margin-bottom: 20px;
}
.box .content .information span i {
	font-size: 14px;
	color: #333333;
	min-width: 86px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
	font-style: normal;
}
.box .content .information span label {
	width: 200px;
	height: 29px;
	border: 1px solid #ccc;
	padding-left: 10px;
	font-size: 14px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 0;
	display: flex;
	align-items: center;
}
.box .content .information .essential .right {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
}
.box .content .information .essential .right a {
	border: 1px solid #666666;
	margin: 20px;
}
.box .content .information .essential .right a:first-child {
	width: 93px;
	height: 54px;
	margin-bottom: 0;
}
.box .content .information .essential .right a:last-child {
	width: 93px;
	height: 114px;
	border-top: none;
	margin-top: 0;
}
.box .content .information .essential .right a img {
	width: 100%;
	height: 100%;
}

.box .content .information .personal {
	width: calc(100% - 20px);
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	background: #fff;
	border: 1px solid #E4E4E4;
	padding-top: 20px;
}
.box .content .information .personal .top, .box .content .information .personal .bottom {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.box .content .information .personal .bottom {
	padding-top: 20px;
	border-top: 1px solid #e4e4e4;
}
.box .content .information .title-t {
	margin: 0;
	width: calc(100% - 20px);
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 40px;
}
.box .content .information .title-t h2 {
	font-size: 16px;
    color: #666666;
    margin: 0;
}
.box .content .information .title-t .address-list {
	font-size: 14px;
	color: #FFF;
	border: none;
	box-shadow: none;
	background: #006DCC;
	padding: 4px 15px;
	border-radius: 4px;
}
.box .content .information .contact {
	width: calc(100% - 20px);
	padding: 20px 10px 10px;
	background: #fff;
	border: 1px solid #E4E4E4;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box .content .information .contact .left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
}
.box .content .information .contact .left:first-child {
	border-right: 1px solid #e4e4e4;
}
.box .content .information .contact .left:last-child {
	padding-left: 20px;
}
.box .content .information .contact .left .relation {
	display: flex;
	border: 1px solid #fff;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	color: #fff;
	background: #7ABA7B;
	height: 29px;
}
.box .content .information .contact .left span {
	margin-right: 30px;
}
.box .content .information .contact .left label {
	width: 100px;
}
.box .content .information .contact .left .state {
	display: flex;
	border: 1px solid #fff;
	align-items: center;
	justify-content: center;
	height: 29px;
	color: #FFF;
	background: #d31c2f;
	margin: 0;
	margin-left: 5px;
}
.box .content .information .contact .left .state.state1 {
	background: #7ABA7B ;
}
/*.box .content .information .contact .left .state:last-child {*/
	/*background: #7ABA7B;*/
/*}*/

.box .content .information-table {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.box .content .information-table .title {
	font-size: 16px;
	color: #666666;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #EEEEEE;
	width: 151px;
	border-radius: 4px;
	margin: 0;
}
.box .content .information-table th {
	text-align: center;
}
.box .content .information-table td {
	text-align: center;
}

.box .content .information-table .follow {
	width: calc(100% - 22px);
	padding: 20px 10px;
	border: 1px solid #E4E4E4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.box .content .information-table .follow .follow-content {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.box .content .information-table .follow .left {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}
.box .content .information-table .follow .left:first-child {
	padding-right: 0;
	width: 800px;
}
.box .content .information-table .follow .left:last-child {
	padding-left: 25px;
	border-left: 1px solid #E4E4E4;
	flex-grow: 1;
}
.box .content .information-table .follow .left p {
	font-size: 16px;
	color: #666666;
	margin-bottom: 15px;
}
.box .content .information-table .follow .left form {
	margin-bottom: 0;
}
.box .content .information-table .follow .left textarea {
	margin: 0;
	width: calc(100% - 40px);
}
.box .content .information-table .follow .left ul {
	margin: 0;
	margin-bottom: 20px;
}
.box .content .information-table .follow .left ul li {
	list-style: none;
	font-size: 14px;
	color: #666666;
	line-height: 1.8;
}
.box .content .information-table .follow .left .chx {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.box .content .information-table .follow .left .chx label {
	font-size: 15px;
	color: #333;
	margin: 0;
	margin-right: 20px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.box .content .information-table .follow .left .chx label input {
	margin: 0;
	margin-right: 10px;
}
.box .content .information-table .follow .follow-bottom {
	width: calc(100% - 105px);
	padding-right: 105px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.box .content .information-table .follow .follow-bottom button {
	border: none;
	border-radius: 4px;
	padding: 6px 18px;
	font-size: 16px;
	color: #FFF;
	background: #006DCC;
}
